.inventoryField {
    -fx-fill: #000;
    -fx-stroke-width: 0;

    -fx-opacity: .5;
}

.inventoryField-active {
    -fx-opacity: 1;
    -fx-stroke: #fff;
    -fx-stroke-width: 2px;
}

.inventoryField-filled {
    -fx-opacity: 1;
    -fx-stroke-width: 0;
}

.gameWindow {
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30,0.5,0,0);
